#main.pure-u
  .content
    .pure-g-r.l-centered
      .pure-u-1.article
        %h1 Categorie
        %table.pure-table
          %thead
            %tr
              %th Nome

          - @categories.each do |category|
            %tr
              %td= link_to category.name, "/home?categoria=#{category.name}"