%footer#footer
  .copyright.legal.pure-g-r
    .pure-u-1-2
      .l-box
        %p.legal-license
          This site is built with &lt;3 using Pure v0.1.0

    .pure-u-1-2
      .l-box
        %p.legal-copyright
          Fatti E Pupe, Copyright &copy; #{ Date.today.year }
        
