%a#menuLink.pure-menu-link{:href => "#menu"}
  = image_tag("navicon.png", :class => "icon", :width => '20', :alt => "+")

#menu.pure-u
  .pure-menu.pure-menu-open
    %a.pure-menu-heading{:href => "/"}
      Fatti & Pupe 
    %ul
      %li
        %a{:href => "/categorie/"}  Categorie
      %li
        %a{:href => "/dettagli/"}   Dettagli
      %li
        %a{:href => "/random/"}     Random      
      %li
        %a{:href => "/contatti/"}   Contatti
      %li
        %a{:href => "/iscriviti/"}  Iscriviti
      -if current_user
        %li
          %a{:href => "/admin"}     Admin




/ %a Sfoglia Categorie: 
/ %a= select_tag :create_model, options_for_select(Category.all.collect{ |u| [u.name, u.id] })