%a#menuLink.pure-menu-link{:href => "#menu"}
  = image_tag("navicon.png", :class => "icon", :width => '20', :alt => "+")

#menu.pure-u
  .pure-menu.pure-menu-open
    %a.pure-menu-heading{:href => "/"}
      Fatti per/da uomini.com 
    %ul
      %li
        %a{:href => "/categorie/"} Categorie
      %li
        %a{:href => "/dettagli/"} Dettagli
      %li
        %a{:href => "/contatti/"} Contatti
      %li
        %a{:href => "/iscriviti/"} Iscriviti
      %li
        %a{:href => "/galleries/"} Gallerie
