@font-face {
    font: {
       family: 'UpperEastSide';
       weight: 'normal';
       style: 'normal';
    }
    src: asset-url('UpperEastSide-webfont.eot', font);
    src: asset-url('UpperEastSide-webfont.eot?#iefix', font) format('embedded-opentype'),
         asset-url('UpperEastSide-webfont.woff', font) format('woff'),
         asset-url('UpperEastSide-webfont.ttf', font) format('truetype'),
         asset-url('UpperEastSide-webfont.svg#BPreplayRegular', font) format('svg');
}
